<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>shieldDrawing</servlet-name>
    <servlet-class>blazon.server.drawing.BlazonParsingServiceImpl</servlet-class>
  </servlet>
  
    <servlet>
    <servlet-name>addCharge</servlet-name>
    <servlet-class>blazon.server.charge.adding.ChargeAddingServiceImpl</servlet-class>
  </servlet>

    <servlet>
    <servlet-name>fetchCharge</servlet-name>
    <servlet-class>blazon.server.charge.fetching.ChargeFetchingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>shieldDrawing</servlet-name>
    <url-pattern>/shielddrawing/draw</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>addCharge</servlet-name>
    <url-pattern>/shielddrawing/addCharge</url-pattern>
  </servlet-mapping>
  
      <servlet-mapping>
    <servlet-name>fetchCharge</servlet-name>
    <url-pattern>/shielddrawing/fetchCharge</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ShieldDrawing.html</welcome-file>
  </welcome-file-list>

</web-app>
